body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.tasks-container {
  width: 30%;
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 100%;
  margin: 24px;
}

.calendar-container {
  width: 70%;
}

#calendar {
  width: 100%;
  height: 100%;
}

.banner{
  padding: 8px;
}

.banner-text{
  line-height: 20px;
  font-size: 14px;
  margin:  0;
}

.banner-button{
  float: right;
}

#header-title{
  font-weight: bold;
}

#schedule-form {
  overflow-y: auto;
  flex-grow: 1;
}

.fixed {
  flex: none;
}

#bottom-controls{
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

#working-hours {
  padding: 0 16px 0;
}

.min-select {
  /*
  The min-width property is used to overwrite the one set in mdc-select.
  This is the minimum width that allows Start minute to appear properly.
  */
  min-width: 132px;
  margin-top: 8px;
}

.hour-select{
  min-width: 132px;
  margin-top: 8px;
}

#schedule-button {
  margin: 6px 20px;
}

.no-padding {
  padding: 0;
}

.date-picker {
  height: 68px;
}

#empty-message {
  display: none;
}

#empty-message-text{
  margin: auto;
  width: fit-content;
}

.task {
  display: flex;
}

.task-title {
  flex-grow: 1;
}

.task-duration {
  align-self: flex-end;
  margin-right: 10px;
  /*
  The min-width property is used to overwrite the one set in mdc-select.
  This is the minimum width that fits all values in the selection.
  */
  min-width: 122px;
}

.task-duration .mdc-select__anchor {
  height: 48px;
}

:root {
  --mdc-theme-primary: #668CD9;
}

.mdc-list-item.default-cursor {
  cursor: default;
}

#scheduling-progress{
  display: none;
  margin: auto;
}

/*
Introducing whitespace between the div elements of the MDC circular progress indicator produces a broken spinner.
To prevent these problems (which could occur by e.g. auto-formatting the HTML), we add this style rule.
*/
.mdc-circular-progress__spinner-layer {
  font-size: 0;
}
